{% extends "front_page.html" %}
{% block body %}

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <form class="px-2" action="/login_user" method="post">
            <div class="px-2">
                <h2>Login if you have an account</h2>

                <br>
                <label for="email">email:</label>
                <input required text="email" id="email" name="email" placeholder="Enter your email">

                <br>
                <label for="password">password:</label>
                <input required text="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" value="submit" class="px-2 btn btn-primary">
                Login
            </button>
        </form>
    </body>
</html>

{% endblock %}